body{
  background-color: rgb(148, 214, 148);
  display: flex;
  flex-direction: column;
  align-items: center;
  color:white;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
}

.card-wrapper{
  display: flex;
  flex-direction: row;
  gap:2rem;
  align-items: center;
  justify-content: center;

  h1{
    font-size:5rem;
  }
}

.text-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:4rem;
}
.app-title{
  font-family: "Bungee Tint", sans-serif;

  font-size: 5rem;
}

.tomato-icon{
  width: 100px;
}